<tr>
    <td class="{{lineClass}} {{CSSLineClass.INFO}}"></td>
    <td class="{{CSSLineClass.INFO}}">
        <div class="{{contentClass}}">{{#if blockHeader}}{{{blockHeader}}}{{else}}&nbsp;{{/if}}</div>
    </td>
</tr>
